html{
	height: 100%;
	margin: 0;
}

body{
	font-family: "Calibri", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Website Title */
.container{
    padding: 30px;
	position:relative;
	background: #311B1Dff;
	animation: change-gradient 10s ease-in-out infinite;
}
@keyframes change-gradient {
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}

.container-heading{
    margin: 0;
}

.heading_font{
    color: #DEA60Aff;
	font-family: 'Syncopate', sans-serif;
	font-size: 35px;
	font-weight: normal;
}

.description p{
	color: #ffffff;
    font-style: cursive;
    font-size: 20px;
    margin: -5px 0 0;
}

/* Text Area */
.ml-container{
    margin: 30px 0;
	flex: 1 0 auto;

}

.form {
	text-align: center;
	width: 250px;
	height: 25px;
	margin-bottom: 5px;
	
}

input[type=text], select {
    width:60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}


label {
	display: inline-block;
	width: 75px;
	font-weight: bold;
	text-align: left;
	float: center;
		
  }

/* Predict Button */
.my-cta-button{
	background: #f9f9f9;
   	border: 2px solid #000000;
    border-radius: 1000px;
    box-shadow: 3px 3px #8c8c8c;
	margin-top: 10px;
    padding: 10px 36px;
    color: #000000;
    display: inline-block;
   	font: bold 20px/1 "Calibri", sans-serif;
    text-align: center;
}

.my-cta-button:hover{
    color: #141414;
    border: 2px solid #46424b;
}

.my-cta-button:active{
    box-shadow: 0 0;
}

/* Contact */
.contact-icon{
	color: #D7DEE1ff;
	padding: 7px;
}

.contact-icon:hover{
	color: #8c8c8c;
}

/* Footer */
.footer{
	flex-shrink: 0;
	position:relative;
	padding: 20px;
	background: #311B1Dff;
	background-size: 500% 500%;
	animation: change-gradient 10s ease-in-out infinite;
}

.footer-description{
	color: #ffffff;
	margin: 0;
	font-size: 12px;
}

/* Result */
.results{
    padding: 30px 0 0;
	flex: 1 0 auto;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}

